@font-face {
  font-family: "OpenSans-Regular";
  src: url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url(./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(./assets/fonts/Open_Sans/OpenSans-Bold.ttf);
}
html {
  margin: 0;
  padding: 0;
  color: #484848;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  margin: 0;
  padding: 0 !important;
  background-color: #ffffff !important;
  font-family: "OpenSans-Regular" !important;
  font-size: 16px;
  line-height: 1.4;
}
.root {
  display: flex;
}
.width-100 {
  width: 100%;
}
.MuiTypography-body1 {
  font-family: "OpenSans-Regular" !important;
}
*{
  font-family: "OpenSans-Regular" !important;
}